*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




/* Fuentes */
@font-face {
    font-family: 'gabriola';
    src: url('../fuentes/Gabriola.ttf');
}
@font-face {
    font-family: 'sarcolenta';
    src: url('../fuentes/Sarcolenta.ttf'); 
}
@font-face {
    font-family: 'roboto';
    src: url('../fuentes/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'harvest';
    src: url('../fuentes/garamond.ttf');
}
@font-face {
    font-family: 'corbel';
    src: url('../fuentes/CORBEL.TTF');
}




header{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color:rgba(0, 49, 85, 1);
    height: 15vh;
    z-index: 1000;
    position: fixed;
}

body{
    background-color: rgba(245, 245, 245);
    background-image: url('../images/logovertical.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-blend-mode: overlay;
    background-size: 50%;
}

/*ICONOS*/

i{
    color: whitesmoke;
}

i:hover{
    color: rgba(255, 255, 182, 1);
    cursor: pointer;
    transform: scale(1.2);
}




/*DROPDOWN*/

.nav{
    background-color: rgba(0, 49, 85, 1);

    --img1: scale(1);
    --img2: scale(0);
}

.nav:has( .dropdown:target ){
    --img1: scale(0);
    --img2: scale(1);

    --clip:inset(0 0 0 0);

}

.nav_container{
    width: 100%;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: "title img";
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
} 




.nav_menu{
    grid-area: img;
    position: relative;
    z-index: 10;
    padding-left: 10%;
    transform: var(--img1);
    margin-right: 35vw;
}

.nav_menu--second{
    transform: var(--img2);
    padding-left: 10%;
}

.nav_icon{
    width: 30px;
    display: flex;
}

.dropdown{
    position: fixed;
    background-color: rgba(0, 49, 85, 0.8);
    backdrop-filter:inherit;
    width: 50%;
    left: 0;
    top: 14vh;
    bottom: 0;
    padding: 3%;
    display: grid;
    align-content:center ;
    gap: 1rem;
    overflow-y:hidden;
    clip-path: var(--clip, inset(0% 100% 0% 0%));
    transition: clip-path .5s;
    z-index: 10000;
    font-weight: 100;
}


.dropdown_list{
    list-style: none;
}

.dropdown_link{
    color: whitesmoke;
    padding: 0.5em ;
    text-decoration: none;
    display:flex;
    gap: 1rem;
    position: relative;
    border-radius: 6px;
    font-size: 20px;
    font-family: 'garamond';
}


.dropdown_list:has( :checked ){
    --rows: 1fr;
    --rotate: rotate(90deg);
    --bg:yellow;
}

.dropdown_check{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor:pointer;
}

.dropdown_arrow{
    margin-left: 1.5%;
    transform: var(--rotate, 0fr);
    transition: .3s transform;
}

.dropdown_arrow{
    color: rgba(255, 255, 182, 1);
}

.dropdown_content{
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: 0.3s grid;
}

.dropdown_sub{
    overflow:hidden;
}

.dropdown_li{
    width: 50%;
    list-style: none;
    margin-left: 50%;
}

.dropdown_anchor{
    padding: 0.5em ;
    display: block;
    color:#B6BABE;
    text-decoration: none;
    font-size: 20px;
    font-family: 'garamond';
}

.dropdown_link:hover{
    color:rgba(255, 255, 182, 1);
    font-weight: bold;
}

.dropdown_anchor:hover{
    color: rgba(255, 255, 182, 1);
    font-weight: bold;
}



/*LOGO*/

.content_logo img{
    width: 250px;
    margin-right: 350px;
    margin-left: 50px;
    
}






/*BUSCADOR*/

/*Estilos al buscador*/
#input_search{
    width: 200px;
    height: 20px;
    font-size: 10px;
    text-align:start;
    text-indent: 10px; /*Para que no se pegue el texto al lateral de la caja del buscador*/
    background-color: whitesmoke;
    border-radius: 50px;
}

/*Esto es el contenedor grande que se despliega al escribir en el buscador con las opciones*/
.content_search{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 68px;/*Para que esté bien posicionado respecto a la barra superior*/
    left: 81%;
    display: none;
    text-align: justify;
}

/*Este es el panel de opciones que se despliega cuando escribes en el buscador*/
.content_table{
width: 200px;
max-height: 400px;
height: auto;
background:rgba(0, 49, 85, 1) ;
overflow-y: hidden;/*Para que las sugerencias de búsqueda se queden dentro del recuadro establecido*/
overflow-x: hidden; 
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}


/*Estilos a los links del buscador*/
tbody tr td a{
    display: block;
    padding: 10px;
    color: whitesmoke;
    text-decoration: none;
}

/*Comportamiento al pasar el ratón por las opciones del buscador*/
tbody tr td a:hover{
    color: rgba(255, 255, 182, 1);
    font-weight: 600;
}

/*Esto es para ocultar texto que viene con la libreria jquery*/
.dt-layout-cell.dt-layout-start, .dt-layout-cell.dt-layout-end{
    display: none;
}

/*Hacemos que el buscador esté oculto hasta que se haga clic en el botón*/
#input_search, .content_search {
    display: none;
} 

#show_search{
    margin-left: 10%;
}






/*Section1 index*/
/* Contenedor principal de section1 */
.contenedor_section1_index{
    display: flex;
    width: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.1)
    ) ,url(../images/niños.png  );
    background-size: cover;
    background-position:center;
    height: 100vh;
    justify-content:left;
    align-items: end;
    padding-bottom: 5%;
    padding-left: 3%;
    
}

.texto_section1_index{
    text-align: justify;
    color: whitesmoke;
    width: 100%;
    padding-left: 5%;

}

.texto_section1_index p{
    font-family:'roboto';
    padding-top: 15px;
    font-size: 20px;
    color: whitesmoke;
    font-weight: 500;
    
}

.boton_section1{
    background-color: rgba(0, 49, 85, 1);
    color: whitesmoke;
    padding: 10px 30px 10px 30px;
    margin-top: 2%;
    border-radius: 50px;
    border: 0;
    font-family:'roboto';
    font-weight: 1000;
    font-size: 15px;
}

.boton_section1:hover{
    background-color: whitesmoke;
    color: rgba(0, 49, 85, 1);
    border: 1px solid rgba(0, 49, 85, 1);
    font-weight: bold;
    cursor: pointer;
}
#titulo_section1{
    font-size: 60px;
    font-family:'garamond';
    font-weight: 100;
    color: whitesmoke;
}





/* Section2 index */
/* Contenedor principal de section2 */
.content2_index{
    display: flex;
    width: 100%;
    height: 50%;
    padding-top: 7%;
    padding-bottom: 5%;
}

.imagen_section2{
    width: 50%;
}

.imagen_section2 img{
    width: 481px;
    height: 605px;
    margin-left: 25%;
}

.texto_section2{
    width: 50%;
    font-family: 'garamond';
    justify-content: center;
}

.texto_section2 hr{
    width: 70%;
    padding-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.texto_section2 h3{
    font-size: 50px;
    font-weight: 100; 
    margin-right: 10%;
    color: rgba(0, 49, 85, 1);
}

.texto_section2 p{
    width: 75%;
    font-size: 20px;
    margin-top: 4%;
    margin-right: 10%;
    text-align: justify;
    font-family:'corbel';
    color: rgba(0, 0, 0, 0.6);
}




/* Section3 index */
/* Contenedor principal section3 */
.contenedor_section3_index{
    display: block;
    width: 100%;
    justify-content: center;
    text-align: center;
    height: 50%;
    padding-bottom: 3%;
}
/* H3 de section3 */
.contenedor_section3_index h3{
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    padding-bottom: 0.5%;
    color: rgba(0, 49, 85, 1);
}
/* hr de section3 */
.contenedor_section3_index hr{
    margin: 1% 15% 0 15%;
}
/*Contenedor de los elementos section3*/
.contenedor_elementos_section3{
    display: flex;
    padding: 3% 10% 5% 10%;
}
/* Contenedor de la imagen de section3 */
.section3_img{
    width: 50%;
}
/* Imagen de la section3 */
.section3_img img{
    width: 481px;
    height: 605px;
}
/* Contenedor del texto de section3 */
.section3_texto{
    width: 50%;
}
/* Texto section3 */
.section3_texto p{
    font-size: 20px;
    margin-left: 10%;
    margin-right: 5%;
    text-align: justify;
    font-family:'corbel';
    color: rgba(0, 0, 0, 0.6);
}




/*Section4 index */

/* Contenedor principal de section4 index */
.contenedor_section4_index{
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    background-color: rgba(0, 49, 85, 1);
    color: whitesmoke;
    width: 100%;
}
/* Contenedor de todos los iconos + texto */
.contenedor_section4_index hr{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 15%;
    width: 70%;
}
/* Contenedor de cada icono + texto */
.content4_index_first{
    display:inline-flex;
    padding-bottom: 1%;
    justify-content: center;
    text-align: center;
}
/* Iconos */
.item_section4_index i{
    font-size: 50px;
}
/*  */
.item_section4_index{
    display: inline-block;
    margin: 1% 7% 7% 1%;
    justify-content: center;
    width: 20%;
    text-align: center;
}

.item_section4_index #texto_item{
    font-size: 15px;
    margin-top: 15px;
    font-family: 'roboto';
    color: whitesmoke;
    text-align: center;
}

.item_section4_index #numero_item{
    margin-top: 20px;
    font-size: 50px;
    color: whitesmoke;
    font-family: 'garamond';
    font-weight: bold;
    text-align: center;
}
.content4_index_second{
    width: 100%;
}

.content4_index_second h3{
    font-size: xx-large;
    font-family: 'garamond';
    font-weight: 100;
}




/* Section5 */
/* Contenedor principal section5 */
.contenedor_section5_index{
    display: block;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 4%;
    align-items: center;
}
/* H3 de contenedor section5  */
.contenedor_section5_index h3{
    padding-left: 9%;
    padding-bottom: 1%;
    font-size: 50px;
    font-family: 'garamond';
    color: rgba(0, 49, 85, 1);
    font-weight: 100;
}
/* hr de section5 */
.contenedor_section5_index hr{
    margin: 0 9% 0 9%;
}
/* Contenedor imagen + texto section5 */
.content5_index{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
/* Contenedor de las imágenes */
.content5_index{
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}
.item_section5{
    justify-content: center;
    align-items: center;
}
/* Imágenes section5 */
.texto_section5 img{
    width: 321px;
    height: 425px;
    padding: 3%;
    border-radius: 12.5px;
}
/* Comportamiento imágenes section5 */
.texto_section5 img:hover{
    filter: brightness(0.8);
    transform:translateY(-10px)
} 
/* Texto de pie de foto section5 */
.texto_section5 p{
    color: rgba(0, 49, 85, 0.9);
    font-size: 30px;
    font-weight: 600;
    font-family: 'garamond';
    padding-top: 3%;
}
/* Contenedor de texto+botón section5 */
.texto_boton_section5{
    padding-top: 9%;
}
/* Texto encima de boton section5 */
.texto_boton_section5 p{
    font-family: 'roboto';
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    padding-bottom: 4%;
}
/* Botón section5 */
.texto_boton_section5 button{
    background-color: rgba(0, 49, 85, 1);
    color: whitesmoke;
    padding: 8px 20px 8px 20px;
    border-radius: 50px;
}
/* Comportamiento del botón section5 */
.texto_boton_section5 button:hover{
    background-color: whitesmoke;
    color: rgba(0, 49, 85, 1);
    cursor: pointer;

}





/* Prefooter */
.prefooter{
    display:block;
    background-color: rgba(0, 49, 85, 1);
    color: whitesmoke;
    font-family: 'garamond';
    padding: 3% 13% 3% 13%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.prefooter hr{
    margin: 0 5% 0 5%;
}

.prefooter h3{
    text-align: center;
    font-size: 50px;
    padding-bottom: 1.5%;
    font-weight: 100;
}

.prefooter p{
    text-align: center;
    font-size: 25px;
    padding-top: 1.5%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    font-family: 'gabriola';
    color: whitesmoke;
}

.boton_prefooter{
    margin-top: 3%;
    font-family: 'gabriola';
    text-align: center;
}

.boton_prefooter button{
    padding: 10px 30px 10px 30px;
    color: whitesmoke;
    background-color: rgba(0, 49, 85, 1);
    border: 2px solid whitesmoke;
    border-radius: 50px;
    font-family: 'roboto';
    font-size: 15px;
    font-weight: bold;
}

.boton_prefooter button:hover{
    background-color: whitesmoke;
    color: rgba(0, 49, 85, 1);
}




/* Section6 */
/* Contenedor principal de section6 */
.contenedor_section6_index{
    display: block;
}
/* Contenedor del texto de section6 */
.texto_section6{
    display: block;
    padding: 0 9% 0 9%;
}
/* Estilos para el h3 */
.texto_section6 h3{
    font-family: 'garamond';
    font-weight: 100;
    font-size: 50px;
    padding-bottom: 2%;
    padding-top: 5%;
    color: rgba(0, 49, 85, 01);
}
/* Estilos para el texto section6*/
.texto_section6 p{
    font-family: 'corbel';
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    padding-top: 2%;
}
/* Contenedor para las imágenes section6 */
.imagenes_section6{
    display: flex;
    padding: 3% 10% 5% 10%;
    justify-content: center;
}
/* Estilos para las imágenes del div */
.imagenes_section6 img{
    width: 400px;
    height: 490px;
    padding: 0 3% 2% 3%;
}   
/* Estilos texto section6 */
.imagenes_section6 p{
    text-align: center;
    font-style: 'corbel';
    color: rgba(0, 49, 85, 0.9);
    font-size: 20px;
    font-weight: bold;
}









/* Footer */
/* Contenedor principal footer */
.contenedor_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:rgba(179, 255, 255, 1);
    align-items: center;
}
/* Logo footer */
.items_footer_logo img{
    width: 150px;
}
/* Contenedor de items del footer */
.items_footer{
    display: flex;
    padding: 1% 3% 1% 3%;
}
/* Contenedor de las direcciones del footer */
.direcciones_footer a,p{
    text-decoration: none;
    display: block;
    font-family: 'corbel';
    color: rgba(0, 0, 0, 0.6);
}
.direcciones_footer a:hover{
    color: rgba(0, 49, 85, 1);
    font-weight: bold;
}
/* Contenedor información util footer */
.util{
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
/* Texto información util footer */
.util h4{
    font-family: 'corbel';
    padding: 5px;
    color: rgba(0, 0, 0, 0.6);
}
.util a{
    font-family: 'corbel';
    padding: 5px;
    color: rgba(0, 0, 0, 0.6);  
}
.util a:hover{
    color: rgba(0, 49, 85, 1);
    font-weight: bold;
}
/* Contenedor redes footer */
.redes{
    display: flex;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
/* Texto redes */
.redes a{
    color: rgba(0, 0, 0, 0.6);
    padding-left: 20px;
}
.redes i{
    color: rgba(0, 49, 85, 1);
}
.redes a:hover{
    color: rgba(0, 49, 85, 1);
    font-weight: bold;
}
/* Contenedor temas legales footer */
.temas_legales{
    background-color: rgba(0, 33, 57, 1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 2%;
    padding: 1% 5% 1% 5%;
}
.temas_legales p,a{
    text-decoration: none;
    color: whitesmoke;
    margin: auto;
    font-family: 'corbel';
}
.temas_legales a:hover{
    color:rgba(255, 255, 182, 1);
    text-decoration: underline;
}




/* Acerca de nosotros */
/* Contenedor principal acercadenosotros */
.contenedor_section1_acercade{
    display: flex;
    width: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ) ,url(../images/niña.png  );
    background-size: cover;
    background-position: 0 50%;
    height: 80vh;
    justify-content:left;
    align-items: end;
    padding-bottom: 3%;
    padding-left: 7%;
}
/* Contenedor del texto */
.contenedor_texto_acercade{
    text-align: justify;
    color: whitesmoke;
    width: 100%;
}
/* Estilos para el H3 de section1 */
.contenedor_texto_acercade h3{
    font-size: 70px;
    font-family: 'garamond';
    font-weight: 100;
}



/* Secton2 Acerca de nosotros */
/* Contenedor principal */
.contenedor_section2_acercade{
    display: flex;
    width: 100%;
    height: 50%;
    padding-top: 7%;
    padding-bottom: 8%;
}
/* Contenedor texto section2 */
.texto_section2_acercade{
    width: 50%;
    padding-left: 9%;
}
/* h3 section2 acercade*/
.texto_section2_acercade h3{
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    color: rgba(0, 49, 85, 1);
    padding-bottom: 3%;
}
/* p section2 acercade */
.texto_section2_acercade p{
    color: rgba(0, 0, 0, 0.6);
    font-family: 'corbel';
    font-size: 20px;
    padding-top: 3%;
}
/* Contenedor imagen section2 */
.imagen_section2_acercade{
    width: 50%;
    padding: 0% 9% 0% 5%;
}
/* Imagen secion2 acercade */
.imagen_section2_acercade img{
    width: 100%;
}




/* Seciton3 Acerca de nosotros */
/* Contenedor principal */
.contenedor_section3_acercade{
    display: flex;
    width: 100%;
    height: 50%;
    padding-bottom: 7%;
}
/* Contenedor texto section3 */
.texto_section3_acercade{
    width: 50%;
    padding-right: 9%;
    padding-top: 0%;
    text-align: justify;
}
/* h3 section3 acercade*/
.texto_section3_acercade h3{
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    color: rgba(0, 49, 85, 1);
    padding-bottom: 3%;
}
/* p section3 acercade */
.texto_section3_acercade p{
    color: rgba(0, 0, 0, 0.6);
    font-family: 'corbel';
    font-size: 20px;
    padding-top: 3%;
}
/* Contenedor imagen section3 */
.imagen_section3_acercade{
    width: 50%;
    padding: 0% 5% 5% 9%;
}
/* Imagen secion3 acercade */
.imagen_section3_acercade img{
    width: 95%;
}





/* Section4 Grupo Sapiencia */
/* Título de section4 */
#titulo_section4{
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    color: rgba(0, 49, 85, 1);
    padding: 0 9% 2% 9%;
    text-align: justify;
}
/* Contenedor principal del texto */
.texto-expandible {
    margin: 0% 9% 0 9%;
    font-family: 'corbel';
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    padding-bottom: 7%;
}
.texto-expandible hr{
    margin-bottom: 2%;
}
/* Checkbox oculto */
.toggle-checkbox {
    display: none;
}

/* Texto oculto inicialmente */
.texto-oculto {
    display: none;
    margin-top: 10px;
}

/* Estilo de la etiqueta como botón */
.toggle-label {
    display: inline-block;
    margin-top: 15px;
    margin-left: 90%;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    font-weight: bold;
}
/* Estilo para el hover del span dentro del label */ 
.toggle-label:hover .label-text-leer-mas, .toggle-label:hover .label-text-leer-menos {
    color: rgba(0, 49, 85, 1);
}
/* Cuando el checkbox está marcado, mostrar el texto oculto */
.toggle-checkbox:checked ~ .texto-oculto {
    display: block;
}

/* Ocultar el texto "Leer menos" por defecto */ 
.label-text-leer-menos {
    display: none; 
} 
/* Mostrar el texto "Leer menos" y ocultar el texto "Leer más" cuando el checkbox está marcado */ 
.toggle-checkbox:checked ~ .toggle-label .label-text-leer-mas {
    display: none; 
} 
.toggle-checkbox:checked ~ .toggle-label .label-text-leer-menos {
    display: inline; 
}





/*Section5 Historia*/
/* Contenedor principal section5 historia */
.contenedor_section5_historia{
    display: flex;
    justify-content: center;
    padding-bottom: 7%;
    height: 120vh;
    padding-top: 3%;
}
/* Hr Titulo section5 historia */
#linea_titulo_historia{
    margin: 0 30% 0 30%;
}
/* Título section5 historia */
#section5_titulo{
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    color: rgba(0, 49, 85, 1);
    padding-bottom: 3%;
    text-align: center;
}
/* Textos de section5 historia */
.contenedor_section5_historia p{
    font-family: 'roboto';
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}
/* hr de section5 historia */
.contenedor_section5_historia hr{
    height: 4px;
    background-color: rgba(0, 49, 85, 1);
    
}
/* Contenedor section5 izquierda */
.contenedor_section5_left{
    display: block;
    width: 50%;
    text-align: right;
}
.contenedor_section5_left h3{
    color: rgba(0, 49, 85, 1);
    font-family: 'garamond';
    font-size: 40px;
}
/* Número + texto de la izquierda */
.item_left{
    padding: 8% 8% 8% 0;
}
.item_left p{
    width: 40%;
    margin-left: 65%;
    margin-top: 2%;
}
/* Contenedor section5 derecha */
.contenedor_section5_right{
    display: block;
    width: 50%;
    border-left: 5px solid rgba(0, 49, 85, 1);
    padding: 6.5% 0% 5% 0%;
    text-align: left;
}
/* H3 section5 derecha */
.contenedor_section5_right h3{
    color: rgba(0, 49, 85, 1);
    font-family: 'garamond';
    font-size: 40px;
}
/* Número + texto de la derecha section5 */
.item_right{
    padding: 8%;
}
.item_right p{
    width: 40%;
    margin-right: 65%;
    margin-top: 2%;
}
/* Hr de la izquierda */
.raya_left{
    margin-left: 80%;
}
/* Hr de la derecha */
.raya_right{
    margin-right: 80%;
}




/* Prefooter Acercadenosotros */
.prefooter{
    display:block;
    background-color: rgba(0, 49, 85, 1);
    color: whitesmoke;
    font-family: 'garamond';
    padding: 3% 13% 3% 13%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.prefooter hr{
    margin: 0 5% 0 5%;
}

.prefooter h3{
    text-align: center;
    font-size: 50px;
    padding-bottom: 1.5%;
    font-weight: 100;
}

.prefooter p{
    text-align: center;
    font-size: 25px;
    padding-top: 1.5%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    font-family: 'gabriola';
    color: whitesmoke;
}

.boton_prefooter{
    margin-top: 3%;
    font-family: 'gabriola';
    text-align: center;
}

.boton_prefooter button{
    padding: 10px 30px 10px 30px;
    color: whitesmoke;
    background-color: rgba(0, 49, 85, 1);
    border: 2px solid whitesmoke;
    border-radius: 50px;
    font-family: 'roboto';
    font-size: 15px;
    font-weight: bold;
}

.boton_prefooter button:hover{
    background-color: whitesmoke;
    color: rgba(0, 49, 85, 1);
}




/* Contacto */
/* Contenedor principal contacto */
.contenedor_section1_contacto{
    display: flex;
    width: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ) ,url(../images/contacto.png);
    background-size: cover;
    background-position: 0 50%;
    height: 80vh;
    justify-content:left;
    align-items: end;
    padding-bottom: 3%;
    padding-left: 7%;
}
/* Contenedor del texto */
.contenedor_texto_contacto{
    text-align: justify;
    color: whitesmoke;
    width: 100%;
}
/* Estilos para el H3 de section1 */
.contenedor_texto_contacto h3{
    font-size: 70px;
    font-family: 'garamond';
    font-weight: 100;
}


/* Estilos del formulario */
/* contenedor principal del formulario */
.contenedor_texto_formulario{
    padding: 2% 9% 5% 9%;
    justify-content: center;
    align-items: center;
}
.contenedor_texto_formulario h1{
    padding: 5% 0 2% 0;
    font-size: 50px;
    font-family: 'garamond';
    color: rgba(0, 49, 85, 1);
    font-weight: 100;
    text-align: center;
}
.contenedor_texto_formulario h2{
    font-size: 50px;
    font-family: 'garamond';
    color: rgba(0, 49, 85, 1);
    font-weight: 100;
    text-align: center;
    padding: 2% 0 0 0;
}
.contenedor_texto_formulario p{
    padding-top: 3%;
    font-size: 20px;
    font-family: 'corbel';
    color: rgba(0, 0, 0, 0.6);
    padding-bottom: 4%;
}

.contenedor_formulario{
    text-align: center;
    padding: 0 20% 10% 20%;
}
form {
    
    padding: 3% 10% 3% 10%;
    border: 10px solid rgba(0, 49, 85, 1);
    border-radius: 10px;
    background: whitesmoke;
    color: rgba(0, 49, 85, 1);
    text-align: left;
}
#titulo_formulario{
    padding-bottom: 10%;
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    text-align: center;
}
fieldset {
    padding: 3% 5% 7% 5%;
    border: none;
}
legend {
    font-weight: 100;
    font-family: 'garamond';
    font-size: 30px;

}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input, select, textarea {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea {
    height: 80px;
    resize: vertical;
    font-family: 'corbel';
}
.form-actions{
    display: flex;
    justify-content: center;
}
.form-actions button{
    width: 200px;
    color: whitesmoke;
    background-color: rgba(0, 49, 85, 1);
    padding: 5% 0 5% 0;
    border-radius: 10px;
    justify-content: center;
}
.form-actions button:hover{
    color: rgba(0, 49, 85, 1);
    background-color: whitesmoke;
    border: 2px solid rgba(0, 49, 85, 1);
}



/* Información */
/* Contenedor principal de section1 */
.contenedor_section1_informacion{
    display: flex;
    width: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ) ,url(../images/informacion.png);
    background-size: cover;
    background-position: 0 -40%;
    height: 80vh;
    justify-content:left;
    align-items: end;
    padding-bottom: 3%;
    padding-left: 7%;
}
/* Texto section1 */
.contenedor_section1_informacion h3{
    font-size: 70px;
    color: whitesmoke;
    font-family: 'garamond';
    font-weight: 100;
}

/* Contenedor section2 Información */
.contenedor_section2_informacion{
    display: block;
    padding: 5% 9% 0 9%;
}
.contenedor_section2_informacion h3{
    font-size: 40px;
    font-family: 'garamond';
    color: rgba(0, 49, 85, 1);
    font-weight: 100;
    padding-bottom: 1%;
}
.contenedor_section2_imagenyfoto{
    padding-top: 3%;
    display: flex;
}
.contenedor_section2_imagenyfoto img{
    width: 20vw;
    height: 100%;
}
.texto_ubicacion{
    padding-left: 5%;
    text-align: start;
    justify-content: center;
}
.texto_ubicacion h4{
    color: rgba(0, 49, 85, 1);
    font-size: 30px;
    font-weight: 100;
    padding: 2% 0 1% 0;
    font-family: 'garamond';
}
.texto_ubicacion p {
    font-family: 'corbel';
    text-align: start;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
}


/* Section3 informacion */
.contenedor_section3_informacion{
    display: block;
    padding: 7% 9% 0 9%;
}
.contenedor_section3_informacion h3{
    font-size: 40px;
    font-family: 'garamond';
    color: rgba(0, 49, 85, 1);
    font-weight: 100;
    padding-bottom: 1%;
}
.contenedor_section3_informacion h4{
    color: rgba(0, 49, 85, 1);
    font-size: 30px;
    font-weight: 100;
    padding: 2% 0 1% 0;
    font-family: 'garamond';
}
.contenedor_section3_informacion p{
    font-family: 'corbel';
    text-align: start;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
}



/* Section4 informacion */
.contenedor_section4_informacion{
    display: block;
    padding: 7% 9% 0 9%;
}
.contenedor_section4_informacion h3{
    font-size: 40px;
    font-family: 'garamond';
    color: rgba(0, 49, 85, 1);
    font-weight: 100;
    padding-bottom: 1%;
}
.contenedor_section4_informacion h4{
    color: rgba(0, 49, 85, 1);
    font-size: 30px;
    font-weight: 100;
    padding: 2% 0 1% 0;
    font-family: 'garamond';
}
.personal_administrativo{
    display: flex;
    justify-content: start;
    align-items: center;
}
.personal_administrativo img{
    width: 20vw;
}
.personal_administrativo p{
    width: 50%;
    font-family: 'corbel';
    text-align: start;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
}



/* Section5 informacion */
.contenedor_section5_informacion{
    display: block;
    padding: 7% 9% 7% 9%;
}
.contenedor_section5_informacion h3{
    font-size: 40px;
    font-family: 'garamond';
    color: rgba(0, 49, 85, 1);
    font-weight: 100;
    padding-bottom: 2%;
}
.contenedor_section5_informacion h4{
    color: rgba(0, 49, 85, 1);
    font-size: 30px;
    font-weight: 100;
    padding: 2% 0 1% 0;
    font-family: 'garamond';
}
.contenedor_section5_informacion p{
    font-family: 'corbel';
    text-align: start;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
}


/* Prefooter información */
.prefooter{
    display:block;
    background-color: rgba(0, 49, 85, 1);
    color: whitesmoke;
    font-family: 'garamond';
    padding: 3% 13% 3% 13%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.prefooter hr{
    margin: 0 5% 0 5%;
}

.prefooter h3{
    text-align: center;
    font-size: 50px;
    padding-bottom: 1.5%;
    font-weight: 100;
}

.prefooter p{
    text-align: center;
    font-size: 25px;
    padding-top: 1.5%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    font-family: 'gabriola';
    color: whitesmoke;
}

.boton_prefooter{
    margin-top: 3%;
    font-family: 'gabriola';
    text-align: center;
}

.boton_prefooter button{
    padding: 10px 30px 10px 30px;
    color: whitesmoke;
    background-color: rgba(0, 49, 85, 1);
    border: 2px solid whitesmoke;
    border-radius: 50px;
    font-family: 'roboto';
    font-size: 15px;
    font-weight: bold;
}

.boton_prefooter button:hover{
    background-color: whitesmoke;
    color: rgba(0, 49, 85, 1);
}





/* Proyecto educativo */
/* Section1 Proyecto*/
.contenedor_section1_proyecto{
    display: flex;
    width: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ) ,url(../images/proyecto_educativo.png);
    background-size: cover;
    background-position: 0 50%;
    height: 80vh;
    justify-content:left;
    align-items: end;
    padding-bottom: 3%;
    padding-left: 7%;
}
.contenedor_section1_proyecto h3{
    color: whitesmoke;
    font-size: 70px;
    font-family: 'garamond';
    font-weight: 100;
}


/* Section2 Proyecto*/
.contenedor_section2_proyecto{
    display: block;
    padding: 5% 9% 0 9%;
}
.contenedor_section2_proyecto h3{
    font-size: 50px;
    font-weight: 100;
    font-family: 'garamond';
    color: rgba(0, 49, 85, 1);
    padding-bottom: 1%;
}
.contenedor_section2_proyecto p{
    font-size: 20px;
    font-weight: 100;
    font-family: 'corbel';
    color: rgba(0, 0, 0, 0.6);
    padding-top: 2%;
}
.boton_proyecto_educativo{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 4%;
}
.boton_proyecto_educativo button{
    font-size: 20px;
    color: whitesmoke;
    background-color: rgba(0, 49, 85, 1);
    border-radius: 20px;
    padding: 1% 3% 1% 3%;
}
.boton_proyecto_educativo button:hover{
    color: rgba(0, 49, 85, 1);
    background-color: whitesmoke;
}


/* Section3 Proyecto */
.contenedor_section3_proyecto{
    display: block;
    padding: 5% 9% 0 9%;
}
.contenedor_section3_proyecto h3{
    font-size: 50px;
    font-weight: 100;
    font-family: 'garamond';
    color: rgba(0, 49, 85, 1);
    padding-bottom: 1%;
}
.contenedor_section3_imagenytexto_proyecto{
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
}
.contenedor_section3_imagenytexto_proyecto img{
    width: 400px;
    height: 60vh;
}
.texto_section2_proyecto p{
    font-size: 20px;
    font-weight: 100;
    font-family: 'corbel';
    color: rgba(0, 0, 0, 0.6);
    padding-left: 15%;
    margin-bottom: 3%;
}



/* Proceso de admisión */
/* Section1 admisión*/
.contenedor_section1_admision{
    display: flex;
    width: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ) ,url(../images/admision.png);
    background-size: cover;
    background-position: 0 50%;
    height: 70vh;
    justify-content:left;
    align-items: end;
    padding-bottom: 3%;
    padding-left: 7%;
}
.contenedor_section1_admision h3{
    color: whitesmoke;
    font-size: 70px;
    font-family: 'garamond';
    font-weight: 100;
}


/* Secition2 admisión */
.contenedor_section2_admision{
    display: block;
    padding: 5% 9% 0 9%;
}
.contenedor_section2_admision h3{
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    color: rgba(0, 49, 85, 1);
    padding-bottom: 2%;
}
.contenedor_section2_admision p{
    font-size: 20px;
    font-family: 'corbel';
    color: rgba(0, 0, 0, 0.6);
    padding-top: 2%;
}
.paso{
    display: flex;
    padding-top: 5%;
    padding-bottom: 3%;
}
.contenedor_numero{
    padding-left: 20%;
    justify-content: center;
    padding-right: 20%;
}
.numero{
    font-size: 40px;
    font-family: 'garamond';
    font-weight: 100;
    color: rgba(0, 49, 85, 1);
}
.texto_numero{
    width: 50%;
    padding-bottom: 3%;
}
.texto_numero h4{
    color: rgba(0, 49, 85, 1);
    font-size: 30px;
    font-weight: 100;
    font-family: 'corbel';
}
.boton_section2_admision{
    text-align: center;
    padding: 5% 0 0 0 ;
}
.boton_section2_admision button{
    color: whitesmoke;
    background-color: rgba(0, 49, 85, 1);
    padding: 1% 4% 1% 4%;
    border-radius: 20px;
}
.boton_section2_admision button:hover{
    color: rgba(0, 49, 85, 1);
    background-color: whitesmoke;
}
.lista_admision li{
    font-size: 20px;
    font-family: 'corbel';
    color: rgba(0, 0, 0, 0.6);
}




/* Programa de becas */
.contenedor_section1_becas{
    display: flex;
    width: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ) ,url(../images/becas.png);
    background-size: cover;
    background-position: 0 50%;
    height: 80vh;
    justify-content:left;
    align-items: end;
    padding-bottom: 3%;
    padding-left: 7%;
}
.contenedor_section1_becas h3{
    color: whitesmoke;
    font-size: 70px;
    font-family: 'garamond';
    font-weight: 100;
}

/* Section2 becas */
.contenedor_section2_becas{
    display: block;
    padding: 5% 9% 0 9%;
}
.contenedor_section2_becas h3{
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    color: rgba(0, 49, 85, 1);
    padding-bottom: 2%;
}
.contenedor_section2_becas p{
    font-size: 20px;
    font-family: 'corbel';
    color: rgba(0, 0, 0, 0.6);
    padding-top: 2%;
}

/* Section3 becas */
.contenedor_section3_becas{
    display: block;
    padding: 5% 9% 0 9%;
    justify-content: center;
}
/* izquierda */
.contenedor_becas_izq{
    display:flex ;
}
.contenedor_becas_izq img{
    width: 350px;
    height: 450px;
}
.texto_becas_izq{
    padding-left: 10%;
}
.texto_becas_izq h4{
    font-size: 40px;
    font-family: 'garamond';
    font-weight: 100;
    color: rgba(0, 49, 85, 1);
    padding-bottom: 2%;
}
.texto_becas_izq p{
    font-size: 20px;
    font-family: 'corbel';
    color: rgba(0, 0, 0, 0.6);
    padding-top: 2%;
}
.texto_becas_izq ul{
    font-size: 20px;
    font-family: 'corbel';
    color: rgba(0, 0, 0, 0.6);
    padding-top: 2%;
}
/* Derecha */
.contenedor_becas_der{
    display:flex ;
}
.contenedor_becas_der img{
    width: 350px;
    height: 450px;
}
.texto_becas_der{
    padding-right: 10%;
}
.texto_becas_der h4{
    font-size: 40px;
    font-family: 'garamond';
    font-weight: 100;
    color: rgba(0, 49, 85, 1);
    padding-bottom: 2%;
}
.texto_becas_der p{
    font-size: 20px;
    font-family: 'corbel';
    color: rgba(0, 0, 0, 0.6);
    padding-top: 2%;
}
.texto_becas_der ul{
    font-size: 20px;
    font-family: 'corbel';
    color: rgba(0, 0, 0, 0.6);
    padding-top: 2%;
}




/* Tarifas */
/* section1 tarifas */
.contenedor_section1_tarifas{
    display: flex;
    width: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ) ,url(../images/tarifas.png);
    background-size: cover;
    background-position: 0 50%;
    height: 80vh;
    justify-content:left;
    align-items: end;
    padding-bottom: 3%;
    padding-left: 7%;
}
.contenedor_section1_tarifas h3{
    color: whitesmoke;
    font-size: 70px;
    font-family: 'garamond';
    font-weight: 100;
}

/* Section2 tarifas */
.contenedor_section2_tarifas{
    display: block;
    padding: 5% 9% 0 9%;
}
.contenedor_section2_tarifas h3{
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    color: rgba(0, 49, 85, 1);
    padding-bottom: 2%;
}
.contenedor_section2_tarifas p{
    font-size: 20px;
    font-family: 'corbel';
    color: rgba(0, 0, 0, 0.6);
    padding-top: 2%;
}

/* Section3 tarifas */
.contenedor_section3_tarifas{
    display: block;
    padding: 5% 9% 0 9%;
}
.contenedor_section3_tarifas h3{
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    color: rgba(0, 49, 85, 1);
    padding-bottom: 2%;
}
/* izquierda */
.contenedor_tarifas_izq{
    display:flex ;
    padding-top: 3%;
    
}
.contenedor_tarifas_izq img{
    width: 350px;
    height: 450px;
}
.texto_tarifas_izq{
    padding-left: 10%;
    padding-top: 5%;
}
.texto_tarifas_izq h4{
    font-size: 40px;
    font-family: 'garamond';
    font-weight: 100;
    color: rgba(0, 49, 85, 1);
    padding-bottom: 2%;
}
.texto_tarifas_izq p{
    font-size: 20px;
    font-family: 'corbel';
    color: rgba(0, 0, 0, 0.6);
    padding-top: 2%;
}
.texto_tarifas_izq ul{
    font-size: 20px;
    font-family: 'corbel';
    color: rgba(0, 0, 0, 0.6);
    padding-top: 2%;
}
/* Derecha */
.contenedor_tarifas_der{
    display:flex ;
}
.contenedor_tarifas_der img{
    width: 350px;
    height: 450px;
}
.texto_tarifas_der{
    padding-right: 10%;
    padding-top: 5%;
}
.texto_tarifas_der h4{
    font-size: 40px;
    font-family: 'garamond';
    font-weight: 100;
    color: rgba(0, 49, 85, 1);
    padding-bottom: 2%;
}
.texto_tarifas_der p{
    font-size: 20px;
    font-family: 'corbel';
    color: rgba(0, 0, 0, 0.6);
    padding-top: 2%;
}
.texto_tarifas_der ul{
    font-size: 20px;
    font-family: 'corbel';
    color: rgba(0, 0, 0, 0.6);
    padding-top: 2%;
}




/* Actividades Extraescolares */
/* section1 Extra */
.contenedor_section1_extra{
    display: flex;
    width: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ) ,url(../images/extraescolares.png);
    background-size: cover;
    background-position: 0 50%;
    height: 80vh;
    justify-content:left;
    align-items: end;
    padding-bottom: 3%;
    padding-left: 7%;
}
.contenedor_section1_extra h3{
    color: whitesmoke;
    font-size: 70px;
    font-family: 'garamond';
    font-weight: 100;
}

/* Section2 extra */
.contenedor_section2_extra{
    display: flex;
    padding: 5% 9% 0 9%;
    flex-direction: column;
}   
.contenedor_section2_extra h3{
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    color: rgba(0, 49, 85, 1);
    padding-bottom: 2%;
}
.contenedor_section2_extra p{
    font-size: 20px;
    font-family: 'corbel';
    color: rgba(0, 0, 0, 0.6);
    padding-top: 2%;
}


/* Section2 extra */
.contenedor_section3_extra{
    display: block;
    padding: 7% 9% 0 9%;
    justify-content: center;
    align-items: center;
}
.contenedor_section3_extra h2{
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    color: rgba(0, 49, 85, 1);
    padding-bottom: 2%;
}
.contenedor_section3_extra h3{
    color: rgba(0, 49, 85, 1);
    font-family: 'garamond';
    font-weight: 100;
    font-size: 40px;
}
.contenedor_itemextra{
    display: flex;
    padding: 0 0 7% 0;
}
.contenedor_itemextra_izq{
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
    padding: 3%;
}
.contenedor_itemextra_der{
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
    padding: 3%;
}
.contenedor_itemextra_izq h3{
    margin-right: 5%;
}
.contenedor_itemextra_der h3{
    margin-left: 5%;
}

/* Estilos para que aparezca el texto encima de la imgagen*/
.contenedor_imagen_extra{
    position: relative;
    width: 400px;
    height: 450px;
    display: inline-block;
    overflow: hidden;
}
.contenedor_imagen_extra img{
    display: block;
    width: 400px;
    height: 450px;
}
.texto_foto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 25px;
    font-weight: 100;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
    padding: 10% 10% 10% 10%;
    text-align: center;
    opacity: 0; /* Oculta el texto inicialmente */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Animación suave */
    pointer-events: none; /* Evita que el texto interfiera con el hover */
    width: 100%;
    height: 100%;
    font-family: 'corbel';
}
.contenedor_imagen_extra:hover .texto_foto{
    opacity: 1; /* Muestra el texto */
    transform: translate(-50%, -50%) scale(1.1); /* Efecto de leve escalado */
}

/* Section 4 extraescolares*/
.contenedor_section4_extra{
    display: block;
    padding: 0% 9% 0 9%;
}
.contenedor_section4_extra h3{
    color: rgba(0, 49, 85, 1);
    font-family: 'garamond';
    font-weight: 100;
    font-size: 50px;
    padding-bottom: 2%;
}
.contenedor_section4_extra ul{
    color: rgba(0, 0, 0, 0.6);
    font-family: 'corbel';
    font-size: 20px;
    padding: 3%;
}
.contenedor_section4_extra li{
    padding-top: 2%;
}




/* Infantil */
/* Section1 infantil*/
.contenedor_section1_infantil{
    display: flex;
    width: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ) ,url(../images/infantil2.png);
    background-size: cover;
    background-position: 0 50%;
    height: 80vh;
    justify-content:left;
    align-items: end;
    padding-bottom: 3%;
    padding-left: 7%;
}
.contenedor_section1_infantil h3{
    color: whitesmoke;
    font-size: 70px;
    font-family: 'garamond';
    font-weight: 100;
}

/* Section2 infantil */
.contenedor_section2_infantil{
    display: block;
    padding: 5% 9% 0 9%;
    text-align: justify;
}
.contenedor_section2_infantil h3{
    color: rgba(0, 49, 85, 1);
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    padding-bottom: 2%;
}
.contenedor_section2_infantil p{
    padding-top: 3%;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'corbel';
    font-size: 20px;
}

/* Section3 infantil */
.contenedor_section3_infantil{
    display: block;
    padding: 5% 9% 0 9%;
}
.contenedor_section3_infantil h3{
    color: rgba(0, 49, 85, 1);
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    padding-bottom: 2%;
}
.contenedor_section3_infantil_imagentexto{
    display: flex;
    padding-top: 3%;
}
.contenedor_section3_infantil_imagentexto img{
    width: 25vw;
}
.contenedor_section3_infantil_imagentexto ul{
    color: rgba(0, 0, 0, 0.6);
    font-family: 'corbel';
    font-size: 20px;
    padding-left: 10%;
    text-align: justify;
}
.contenedor_section3_infantil_imagentexto li{
    padding-top: 2%;
}

/* Section4 infantil */
.contenedor_section4_infantil{
    display: block;
    padding: 5% 9% 0 9%;
}
.contenedor_section4_infantil h3{
    color: rgba(0, 49, 85, 1);
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    padding-bottom: 2%;
}
.contenedor_section4_infantil_imagentexto{
    display: flex;
    padding-top: 3%;
    padding-bottom: 7%;
}
.contenedor_section4_infantil_imagentexto p{
    color: rgba(0, 0, 0, 0.6);
    font-family: 'corbel';
    font-size: 20px;
    text-align: justify;
    padding-right: 10%;
}
.contenedor_section4_infantil_imagentexto img{
    width: 25vw;
}


/* Primaria */
/* Section1 primaria*/
.contenedor_section1_primaria{
    display: flex;
    width: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ) ,url(../images/primaria4.png);
    background-size: cover;
    background-position: 0 50%;
    height: 80vh;
    justify-content:left;
    align-items: end;
    padding-bottom: 3%;
    padding-left: 7%;
}
.contenedor_texto_primaria h3{
    color: whitesmoke;
    font-size: 70px;
    font-family: 'garamond';
    font-weight: 100;
}

/* Section2 primaria */
.contenedor_section2_primaria{
    display: block;
    padding: 5% 9% 0 9%;
    text-align: justify;
}
.contenedor_section2_primaria h3{
    color: rgba(0, 49, 85, 1);
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    padding-bottom: 2%;
}
.contenedor_section2_primaria p{
    padding-top: 3%;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'corbel';
    font-size: 20px;
}

/* Section3 primaria */
.contenedor_section3_primaria{
    display: block;
    padding: 5% 9% 0 9%;
}
.contenedor_section3_primaria h3{
    color: rgba(0, 49, 85, 1);
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    padding-bottom: 2%;
}
.contenedor_section3_primaria_imagentexto{
    display: flex;
    padding-top: 3%;
}
.contenedor_section3_primaria_imagentexto img{
    width: 25vw;
}
.contenedor_section3_primaria_imagentexto ul{
    color: rgba(0, 0, 0, 0.6);
    font-family: 'corbel';
    font-size: 20px;
    padding-left: 10%;
    text-align: justify;
}
.contenedor_section3_primaria_imagentexto li{
    padding-top: 2%;
}

/* Section4 primaria */
.contenedor_section4_primaria{
    display: block;
    padding: 5% 9% 7% 9%;
}
.contenedor_section4_primaria h3{
    color: rgba(0, 49, 85, 1);
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    padding-bottom: 2%;
}
.contenedor_section4_primaria_imagentexto{
    display: flex;
    padding-top: 3%;
}
.contenedor_section4_primaria_imagentexto img{
    width: 25vw;
}
.contenedor_section4_primaria_imagentexto ul{
    color: rgba(0, 0, 0, 0.6);
    font-family: 'corbel';
    font-size: 20px;
    padding-right: 10%;
    text-align: justify;
}
.contenedor_section4_primaria_imagentexto li{
    padding-top: 2%;
}

/* Section5 primaria*/
.contenedor_section5_primaria{
    display: block;
    padding: 5% 9% 0 9%;
}
.contenedor_section5_primaria h3{
    color: rgba(0, 49, 85, 1);
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    padding-bottom: 2%;
}
.contenedor_section5_primaria_imagentexto{
    display: flex;
    padding-top: 3%;
    padding-bottom: 7%;
}
.contenedor_section5_primaria_imagentexto p{
    color: rgba(0, 0, 0, 0.6);
    font-family: 'corbel';
    font-size: 20px;
    text-align: justify;
    padding-right: 10%;
}
.contenedor_section5_primaria_imagentexto img{
    width: 25vw;
}


/* Secundaria */
/* Section1 secundaria*/
.contenedor_section1_secundaria{
    display: flex;
    width: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ) ,url(../images/secundaria2.png);
    background-size: cover;
    background-position: 0 50%;
    height: 80vh;
    justify-content:left;
    align-items: end;
    padding-bottom: 3%;
    padding-left: 7%;
}
.contenedor_texto_secundaria h3{
    color: whitesmoke;
    font-size: 70px;
    font-family: 'garamond';
    font-weight: 100;
}


/* Section2 secundaria */
.contenedor_section2_secundaria{
    display: block;
    padding: 5% 9% 0 9%;
    text-align: justify;
}
.contenedor_section2_secundaria h3{
    color: rgba(0, 49, 85, 1);
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    padding-bottom: 2%;
}
.contenedor_section2_secundaria p{
    padding-top: 3%;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'corbel';
    font-size: 20px;
}

/* Section3 secundaria */
.contenedor_section3_secundaria{
    display: block;
    padding: 5% 9% 0 9%;
}
.contenedor_section3_secundaria h3{
    color: rgba(0, 49, 85, 1);
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    padding-bottom: 2%;
}
.contenedor_section3_secundaria_imagentexto{
    display: flex;
    padding-top: 3%;
    
}
.contenedor_section3_secundaria_imagentexto img{
    width: 25vw;
}
.contenedor_section3_secundaria_imagentexto ul{
    color: rgba(0, 0, 0, 0.6);
    font-family: 'corbel';
    font-size: 20px;
    padding-left: 10%;
    text-align: justify;
}
.contenedor_section3_secundaria_imagentexto li{
    padding-top: 2%;
}


/* Section4 secundaria*/
.contenedor_section4_secundaria{
    display: block;
    padding: 5% 9% 7% 9%;
}
.contenedor_section4_secundaria h3{
    color: rgba(0, 49, 85, 1);
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    padding-bottom: 2%;
}
.contenedor_section4_secundaria_imagentexto{
    display: flex;
    padding-top: 3%;
    
}
.contenedor_section4_secundaria_imagentexto img{
    width: 25vw;
}
.contenedor_section4_secundaria_imagentexto ul{
    color: rgba(0, 0, 0, 0.6);
    font-family: 'corbel';
    font-size: 20px;
    padding-right: 10%;
    text-align: justify;
}
.contenedor_section4_secundaria_imagentexto li{
    padding-top: 2%;
}


/* Section5 secundaria*/
.contenedor_section5_secundaria{
    display: block;
    padding: 5% 9% 0 9%;
}
.contenedor_section5_secundaria h3{
    color: rgba(0, 49, 85, 1);
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    padding-bottom: 2%;
}
.contenedor_section5_secundaria_imagentexto{
    display: flex;
    padding-top: 3%;
    padding-bottom: 7%;
}
.contenedor_section5_secundaria_imagentexto p{
    color: rgba(0, 0, 0, 0.6);
    font-family: 'corbel';
    font-size: 20px;
    text-align: justify;
    padding-right: 10%;
}
.contenedor_section5_secundaria_imagentexto img{
    width: 25vw;
}



/* bachiller */
/* Section1 bachiller*/
.contenedor_section1_bachiller{
    display: flex;
    width: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ) ,url(../images/bachillerato.png);
    background-size: cover;
    background-position: 0 40%;
    height: 80vh;
    justify-content:left;
    align-items: end;
    padding-bottom: 3%;
    padding-left: 7%;
}
.contenedor_texto_bachiller h3{
    color: whitesmoke;
    font-size: 70px;
    font-family: 'garamond';
    font-weight: 100;
}


/* Section2 bachiller */
.contenedor_section2_bachiller{
    display: block;
    padding: 5% 9% 0 9%;
    text-align: justify;
}
.contenedor_section2_bachiller h3{
    color: rgba(0, 49, 85, 1);
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    padding-bottom: 2%;
}
.contenedor_section2_bachiller p{
    padding-top: 3%;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'corbel';
    font-size: 20px;
}

/* Section3 bachiller */
.contenedor_section3_bachiller{
    display: block;
    padding: 5% 9% 0 9%;
}
.contenedor_section3_bachiller h3{
    color: rgba(0, 49, 85, 1);
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    padding-bottom: 2%;
}
.contenedor_section3_bachiller_imagentexto{
    display: flex;
    padding-top: 3%;
    
}
.contenedor_section3_bachiller_imagentexto img{
    width: 25vw;
}
.contenedor_section3_bachiller_imagentexto ul{
    color: rgba(0, 0, 0, 0.6);
    font-family: 'corbel';
    font-size: 20px;
    padding-left: 10%;
    text-align: justify;
}
.contenedor_section3_bachiller_imagentexto li{
    padding-top: 2%;
}


/* Section4 bachiller*/
.contenedor_section4_bachiller{
    display: block;
    padding: 5% 9% 7% 9%;
}
.contenedor_section4_bachiller h3{
    color: rgba(0, 49, 85, 1);
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    padding-bottom: 2%;
}
.contenedor_section4_bachiller_imagentexto{
    display: flex;
    padding-top: 3%;
    
}
.contenedor_section4_bachiller_imagentexto img{
    width: 25vw;
}
.contenedor_section4_bachiller_imagentexto ul{
    color: rgba(0, 0, 0, 0.6);
    font-family: 'corbel';
    font-size: 20px;
    padding-right: 10%;
    text-align: justify;
}
.contenedor_section4_bachiller_imagentexto li{
    padding-top: 2%;
}


/* Section5 bachiller*/
.contenedor_section5_bachiller{
    display: block;
    padding: 5% 9% 0 9%;
}
.contenedor_section5_bachiller h3{
    color: rgba(0, 49, 85, 1);
    font-size: 50px;
    font-family: 'garamond';
    font-weight: 100;
    padding-bottom: 2%;
}
.contenedor_section5_bachiller_imagentexto{
    display: flex;
    padding-top: 3%;
    padding-bottom: 7%;
}
.contenedor_section5_bachiller_imagentexto p{
    color: rgba(0, 0, 0, 0.6);
    font-family: 'corbel';
    font-size: 20px;
    text-align: justify;
    padding-right: 10%;
}
.contenedor_section5_bachiller_imagentexto img{
    width: 25vw;
}



/* Instalaciones */
/* Section1 instalaciones */
.contenedor_section1_instalaciones{
    display: flex;
    width: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ) ,url(../images/instalaciones.png);
    background-size: cover;
    background-position: 0 40%;
    height: 80vh;
    justify-content:left;
    align-items: end;
    padding-bottom: 3%;
    padding-left: 7%;
}
.contenedor_texto_instalaciones h3{
    color: whitesmoke;
    font-size: 70px;
    font-family: 'garamond';
    font-weight: 100;
}

/* Section2 instalaciones */
.contenedor_section2_instalaciones{
    display: block;
    padding: 5% 10% 7% 10%;
}
h1 {
    font-size: 50px;
    font-family: 'garamond';
    text-align: center;
    font-weight: 100;
    color: rgba(0, 49, 85, 1);
    padding-bottom: 2%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 75px;
    padding: 5% 10% 0 10%;
    justify-content: space-between;
}

.gallery img {
    width: 300px;
    height: 200px;
    border: 5px solid rgba(0, 49, 85, 1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gallery img:hover {
    transform: scale(2);
    transition: transform 0.3s ease;
    margin: 5%;
    border: none
}